/* Landscape phones and down */
@media (max-width: 480px) {
  .btn-index-action {
    padding: 20px 10px;
    font-size: 18px;
  }

  .well {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 979px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 980px) {
  section {
    margin-top: 100px;
  }
}
